<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seu Título Aqui</title>
    <link rel="shortcut icon" href="/CyberSafeSite/assets/img/logo cybersafezone.svg" type="image/x-icon">
    <link rel="stylesheet" href="/CyberSafeSite/assets/style/style.css">
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  </head>
  <body>

    <div class="container">
      
      <section id="innovation">
            <div class="container">
                <h2>Quais são os principais crimes
                    <span>Cyberneticos?</span>?
                </h2>

                <div class="container-benefits scrollReveal200">
                    <img 
                    class="phone-card"
                    src="/CyberSafeSite/assets/img/Ataques.svg" 
                    alt="Celular"
                    >
                    <div class="benefits scrollReveal300">
                        <article>
                            <div>
                                <img 
                                src="assets/img/icons/Cartao.svg" 
                                alt="Cartão icon"
                                >
                            </div>
                            <h4>Segurança Cibernética </h4>
                            <p>O que é segurança cibernética? <br>
                            <p>Importância da segurança cibernética.</p>
                            </p>
                            <h6>
                                <a href="#" rel="noopener">Saiba mais</a>
                            </h6>
                        </article>

                        <article>
                            <div>
                                <img 
                                src="assets/img/icons/Coracao.svg" 
                                alt="Coração icon"
                                >
                            </div>
                            <h4>Gestão de Senhas Seguras </h4>
                            <p>Criando senhas fortes. <br> Gerenciadores de senhas. <br> Autenticação de dois fatores
                                (2FA). </p>
                            <h6 class="padding-know-more3">
                                <a href="#" rel="noopener">Saiba mais</a>
                            </h6>
                        </article>

                        <article>
                            <div>
                                <img 
                                src="assets/img/icons/Pix.svg" 
                                alt="Pix icon"
                                >
                            </div>
                            <h4>Estratégias de Resposta a Incidentes </h4>
                            <p>Mude suas senhas<br>O que fazer em caso de roubo de informações e como agir.
                                <br>Plano de resposta a incidentes </p>
                            <h6 class="padding-know-more">
                                <a href="#" rel="noopener">Saiba mais</a>
                            </h6>
                        </article>

                        <article>
                            <div>
                                <img 
                                src="assets/img/icons/Pix.svg" 
                                alt="Pix icon"
                                >
                            </div>
                            <h4>Estratégias de Resposta a Incidentes </h4>
                            <p>Mude suas senhas<br>O que fazer em caso de roubo de informações e como agir.
                                <br>Plano de resposta a incidentes </p>
                            <h6 class="padding-know-more">
                                <a href="#" rel="noopener">Saiba mais</a>
                            </h6>
                        </article>
                        <article>
                            <div>
                                <img 
                                src="assets/img/icons/Pix.svg" 
                                alt="Pix icon"
                                >
                            </div>
                            <h4>Estratégias de Resposta a Incidentes </h4>
                            <p>Mude suas senhas<br>O que fazer em caso de roubo de informações e como agir.
                                <br>Plano de resposta a incidentes </p>
                            <h6 class="padding-know-more">
                                <a href="#" rel="noopener">Saiba mais</a>
                            </h6>
                        </article>
                        <article>
                            <div>
                                <img 
                                src="assets/img/icons/Porcentagem.svg" 
                                alt="Porcentagem icon"
                                >
                            </div>
                            <h4>Canais de Denuncia</h4>
                            <p>
                                Denunciar crimes cibernéticos é fundamental 
                                para combater atividades ilegais na internet 
                                e promover a segurança online. <br>
                            <h6 class="padding-know-more2">
                                <a href="#" rel="noopener">Saiba mais</a>
                            </h6>
                        </article>
                    </div>
                </div>
            </div>
        </section>

      
    </div>
    <footer>
        <div class="container" >
            <div>
                <h2>Copyright © 2023 <span>CyberSafeZone</span>. Todos os direitos reservados.</h2>
            </div>
    
            
        </div>
    </footer>
  </body>
</html>
