<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seu Título Aqui</title>
    <link rel="shortcut icon" href="/CyberSafeSite/assets/img/logo cybersafezone.svg" type="image/x-icon">
    <link rel="stylesheet" href="/CyberSafeSite/assets/style/style.css">
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  </head>
  <body>

    <div class="container">
      
       <section id="blog">
            <div class="container">
                <h2>Acesse os serviços do
                    <span>cybersafezone</span> 
                    e se mantenha em <span>segurança</span>
                </h2>
                
                <div class="container-blog-items">
                    <article class="scrollReveal300">
                        <img
                        src="/CyberSafeSite/assets/img/gerarSenha.svg" 
                        alt="Cartão de crédito"
                        >
                        <h3>Usa a mesma senha para todos os apps?</h3>
                        <p>Use nosso serviço que gera uma senha customizada para você<br> <a href="views/senhas.html">use agora</a></p>
                    </article>

                 
                    <article class="scrollReveal400">
                        <img
                        src="/CyberSafeSite/assets/img/cripto.svg" 
                        alt="Cartão de crédito"
                        >
                        <h3>Precisa enviar dados sigilosos?</h3>
                        <p>Utilize nossa criptografia para enviar-los em segurança<br> <a href="#">use agora</a></p>
                    </article>
                  

                 
                    <article class="scrollReveal500">
                        <img
                        src="/CyberSafeSite/assets/img/gerarSenha.svg" 
                        alt="Cartão de crédito"
                        >
                        <h3>Recebeu algum dado criptografado?</h3>
                        <p>Use nosso serviço de descriptografia:<br> <a href="#">use agora</a></p>
                    </article>
                    

                    
                </div>
            </div>
        </section>
      
    </div>

    <footer>
        <div class="container" >
            <div>
                <h2>Copyright © 2023 <span>CyberSafeZone</span>. Todos os direitos reservados.</h2>
            </div>
    
            
        </div>
    </footer>
  </body>
</html>