<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seu Título Aqui</title>
    <link rel="shortcut icon" href="/CyberSafeSite/assets/img/logo cybersafezone.svg" type="image/x-icon">
    <link rel="stylesheet" href="/CyberSafeSite/assets/style/style.css">
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  </head>
  <body>

    <div class="container">
      
      <section id="doubt">
            <div class="container">
                <h2>Perguntas Frequentes</h2>
                <h3>Em caso de dúvidas, sinta-se à vontade para contatar um de nossos especialistas.</h3>
                <div class="container-img-doubt">
                    <img
                    class="img-doubt"
                    src="/CyberSafeSite/assets/img/Imagem Principal.svg"
                    alt="Ilustração de mulher falando"
                    >
                </div>

                <div class="container-item-doubt">
                    <div class="container-doubt scrollReveal300">
                        <article>
                            <div class="accordion">
                                <div class="container-icon">
                                    <img
                                    class="interrogation"
                                    src="/CyberSafeSite/assets/img/icons/Duvidas.svg"
                                    alt="Interrogação icon"
                                    >

                                    <span class="question">
                                        <h4>Meus dados de login estão seguros neste site?</h4>
                                    </span>
                                </div>

                                <div class="container-img">
                                    <img 
                                    class="accordion-img"
                                    src="/CyberSafeSite/assets/img/icons/Plus.svg" 
                                    alt="Plus icon"
                                    width="24px"
                                    height="24px"
                                    >
                                </div>
                            </div>

                            <div class="answer">
                                <p>
                                    Não se preocupe, seus dados de login são salvos em nosso banco de dados de forma totalmente segura, usando uma forma de criptografia para que nenhum de seus dados seja acessado.
                                </p>
                            </div>
                        </article>
                    </div>

                    <div class="container-doubt scrollReveal400">
                        <article>
                            <div class="accordion">
                                <div class="container-icon">
                                    <img
                                    class="interrogation"
                                    src="/CyberSafeSite/assets/img/icons/Duvidas.svg"
                                    alt="Interrogação icon"
                                    >

                                    <span class="question">
                                        <h4>Qual o diferencial dos serviços oferecidos?</h4>
                                    </span>
                                </div>

                                <div class="container-img">
                                    <img 
                                    class="accordion-img"
                                    src="/CyberSafeSite/assets/img/icons/Plus.svg" 
                                    alt="Plus icon"
                                    width="24px"
                                    height="24px"
                                    >
                                </div>
                            </div>

                            <div class="answer">
                                <p>
                                   Nosso site fez a junção de importantes meios de segurança em um só lugar!
                                    Fazendo com que você não perca seu tempo procurando diversos sites para se manter seguro.
                                </p>
                            </div>
                        </article>
                    </div>

                    <div class="container-doubt scrollReveal500">
                        <article>
                            <div class="accordion">
                                <div class="container-icon">
                                    <img
                                    class="interrogation"
                                    src="/CyberSafeSite/assets/img/icons/Duvidas.svg"
                                    alt="Interrogação icon"
                                    >

                                    <span class="question">
                                        <h4>Como posso me manter sempre informado sobre segurança cybernetica?</h4>
                                    </span>
                                </div>

                                <div class="container-img">
                                    <img 
                                    class="accordion-img"
                                    src="/CyberSafeSite/assets/img/icons/Plus.svg" 
                                    alt="Plus icon"
                                    width="24px"
                                    height="24px"
                                    >
                                </div>
                            </div>

                            <div class="answer">
                                <p>
                                    Você pode se manter atualizado utilizando nosso serviço de newsletter, uma especie de jornal virtual. <br>
                                </p>
                                <div class="newsletter"></div>
                                <p >
                                    <a href="#" rel="noopener"> Clique Aqui para assinar!</a>
                                </p>

                            </div>
                        </article>
                    </div>

                   
                </div>
            </div>
        </section>

      
    </div>
    <footer>
        <div class="container" >
            <div>
                <h2>Copyright © 2023 <span>CyberSafeZone</span>. Todos os direitos reservados.</h2>
            </div>
    
            
        </div>
    </footer>
  </body>
</html>
